/** nav_bar **/
.nav_bar {
   background-color: #E2BBE9;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 30px;
   padding: 20px 40px;
   color: #6a4578;
   font-size: 15px;
}
.name a {
   font-weight: bold;
   text-decoration: none;
   color: #6a4578;
}
.login_and_signup a {
   text-decoration: none;
   color: #6a4578;
   margin-left: 10px;
}

/** footer **/
.group_num {
   background-color: #E2BBE9;
   height: 30px;
   padding: 20px 40px;
   font-weight: bold;
   font-size: 15px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

section {
   height: calc(100vh - 140px);
   display: flex;
   justify-content: center;
   align-items: center;
}
/** main **/
.main_container {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #E2BBE9;
}
.intro {
   font-weight: bold;
   font-size: 50px;
   margin-bottom: 10px;
}
.login_comment {
   margin: 10px 0;
}
.main_btn_container {
   display: flex;
   gap: 10px;
}
.main_btn {
   border: none;
   border-radius: 20px;
   padding: 10px 20px;
   background-color: #E2BBE9;
}
.main_btn a {
   color: #6a4578;
   text-decoration: none;
   font-weight: bold;
}
.main_btn:hover {
   cursor: pointer;
}

/** gameInfo **/
.main-box {
   background-color: #E2BBE9;
   border-radius: 10px;
   padding: 30px;
   text-align: center;
   font-size: 15px;
   font-weight: bold;
}
.info_gamers p {
   margin-top: 0;
   padding-bottom: 5px;
   font-size: 20px;
   border-bottom: 1px solid #6a4578;
}
.info_status, .info_cards {
   margin-bottom: 10px;
}
.btn {
   background-color: #6a4578;
   border: none;
   border-radius: 20px;
   padding: 10px 20px;
}
.btn a {
   text-decoration: none;
   color: #E2BBE9;
}
.btn:hover {
   cursor: pointer;
}