body {
    font-family: 'Arial', sans-serif;
    background-image: url('../png/cardgame_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #5a3b5c;
    margin: 0;
    padding: 0;
}

main {
    width: 500px;
    background-color: #8B93FF;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-top: 0;
    font-size: 24px;
    color: #6a4578;
    font-weight: bold;
}
div {
    color: #071952;
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #6a4578;
    text-align: left;
    margin: 10px 40px;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.sa_btn {
    background-color: #6a4578;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 5px;
    text-decoration: none;
}

.psa_container {
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F8EDE3;
}

.psa_main {
    background-color: #C8DFF1;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 600px;
}

.psa_main_title {
    margin-top: 0;
    font-size: 24px;
    color: #071952;
    font-weight: bold;
}

/*ranking.css*/

.psa_ranking {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 20px;
    height: 200px;
}

.psa_rank_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFDE4D;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 80px;
    margin: 0 10px;
    position: relative;
}

.psa_rank_1 {
    height: 100%;
}

.psa_rank_2 {
    height: 70%;
}

.psa_rank_3 {
    height: 50%;
}

.psa_rank_position {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
}

.psa_rank_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10px;
}

.psa_rank_name {
    font-size: 18px;
}

.psa_rank_score {
    font-size: 16px;
}

.psa_btn {
    background-color: #071952;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
}

.psa_btn:hover {
    background-color: #243e96;
}

.psa_btn a {
    text-decoration: none;
    color: white;
}


/* list_style.css */
.current-player {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #071952;
}

.history-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.history-item {
    width: 500px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.history-info {
    font-size: 18px;
    color: #071952;
    font-weight: bold;
}

.counter-attack {
    width: 150px;
    height: 40px;
    border: none;
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.counter-attack:hover {
    background-color: #c82333;
}

.counter-attack a {
    text-decoration: none;
    color: white;
}

.progress-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.progress {
    color: #071952;
}

.cancel-progress-btn {
    display: inline-block;
    width: 70px;
    padding: 3px 6px;
    border: none;
    background-color: #dc3545;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

.cancel-progress-btn a {
    text-decoration: none;
    color: white;
}

.cancel-progress-btn:hover {
    background-color: #c82333;
}

.game-info-btn {
    width: 100px;
    height: 40px;
    border: none;
    background-color: #071952;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.game-info-btn a {
    text-decoration: none;
    color: white;
}

.game-info-btn:hover {
    background-color: #243e96;
}

/*페이지네이션 부분*/

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 수직 정렬을 위해 추가 */
    margin-top: 20px;
}

.step-links {
    display: flex;
    gap: 10px;
}

.step-links a,
.step-links .current {
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.step-links a {
    background-color: #f8f9fa;
    color: #000;
}

.step-links a:hover {
    background-color: #e2e6ea;
    color: #000;
}

.step-links .current {
    background-color: #6c757d;
    color: #fff;
    border-color: #6c757d;
    margin-left: auto;
    margin-right: auto;
}