{% extends 'base.html' %}
{% load static %}

{% block content %}
<form action="{% url 'game:start' %}" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    <div class="yty_main-box">
        <h2>공격하기</h2>
        <div id="yty_card-selection">
            {% for card in available_cards %}
            <button class="card" data-value="{{ card }}">
                <span class="card-number">{{ card }}</span>
            </button>
            {% endfor %}
        </div>
        <div id="yty_opponent-selection">
            <h3>상대방 선택:</h3>
            <div id="yty_opponent-buttons">
                <select name="search_opponent">
                    <option value="">유저 선택</option>
                    {% for opponent in opponents %}
                        <option value="{{ opponent.id }}">{{ opponent.username }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
            <input type="hidden" name="search_card" id="selected_card" value="">
            <button type="submit" class="yty_btn" id="yty_attack-btn">공격하기</button>
    </div>
</form>
{% endblock %}