{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="yty_main-box">
    <h2>공격하기</h2>
    <div id="yty_card-selection">
        {% for card in available_cards %}
            <button class="yty_btn yty_card" data-card="{{ card }}">{{ card }}</button>
        {% endfor %}
    </div>
    <div id="yty_opponent-selection">
        <h3>상대방 선택:</h3>
        <div id="yty_opponent-buttons">
            {% for opponent in opponents %}
                <button class="yty_btn yty_opponent" data-opponent-id="{{ opponent.id }}">{{ opponent.username }}</button>
            {% endfor %}
        </div>
    </div>
    <button class="yty_btn" id="yty_attack-btn">공격하기</button>
</div>
{% endblock %}