{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'css/jystyle.css' %}">
   <link rel="stylesheet" href="{% static 'css/sastyle.css' %}">
   <!-- <link rel="stylesheet" href="{% static 'css/tystyle.css' %}"> -->


   {% block head %}

   {% endblock %}
</head>

<body>
   <header>
      <div class="nav_bar">
         <div class="name">Pirogrammer Card Game</div>
         <div class="login_and_signup">
            {% if user.is_authenticated %}
            <a href="">게임하기</a>
            <a href="">랭킹보기</a>
            <a href="{% url 'game:logout' %}">로그아웃</a>
            {% else %}
            <a href="{% url 'game:login' %}">로그인</a>
            <a href="{% url 'game:signup' %}">회원가입</a>
            {% endif %}
         </div>
      </div>
   </header>
   <section>
      {% block content %}

      {% endblock %}
   </section>
   <footer>
      <div class="group_num">피로그래밍 21기 카드게임 6조</div>
   </footer>
</body>

</html>