{% extends 'base.html' %}

{% block head %}
<title>gameInfo</title>
{% endblock %}

{% block content %}
<div class="main-box">
   <!-- 만약 이미 끝난 게임이라면 -->
   {% if game.status == 1 %}
   <div class="info_gamers">
      <p>{{game.id}} - {{attacker}} VS {{defender}}</p>
   </div>
   <div class="info_rule">
      <p>{{game_rule}}</p>
   </div>
   <div class="info_cards">
      <p>{{attacker}}: {{game.attackerCard}}</p>
      <p>{{defender}}: {{game.defenderCard}}</p>
   </div>
   <div class="result">
      <div>결과:
         {% if game.winner == user.id %}
         🏆🏆 승리 🏆🏆
         {% elif game.winner == -1 %}
         🔫🔫 무승부 🔫🔫
         {% else %}
         😭😭 패배 😭😭
         {% endif %}
      </div>
   </div>
   <div class="info_user_score">
      <p>점수: {{user.score}}</p>
   </div>
   <button class="btn"><a href="{% url 'game:game_list' %}">전적목록</a></button>
   <!-- 아직 게임 중일 경우 -->
   {% elif game.status == 0 %} 
   <!-- 만약 user가 게임 공격자라면 -->
   {% if game.attackerId.id == user.id %}
   <div class="info_gamers">
      <p>{{game.id}} - {{attacker}} VS {{defender}}</p>
   </div>
   <div class="info_status">진행중..😑</div>
   <div class="info_cards">나: {{game.attackerCard}}</div>
   <button class="btn"><a href="{% url 'game:cancel' game.pk%}">게임취소</a></button>
   <button class="btn"><a href="{% url 'game:game_list' %}">전적목록</a></button>
   <!-- 만약 user가 게임 방어자라면 -->
   {% elif game.defenderId.id == user.id %}
   <div class="info_gamers">
      <p>{{game.id}} - {{attacker}} VS {{defender}}</p>
   </div>
   <button class="btn"><a href="{% url 'game:counter' game.pk %}">대응하기</a></button>
   <button class="btn"><a href="{% url 'game:game_list' %}">전적목록</a></button>
   {% endif %}
   {% endif %}
</div>
{% endblock %}
