{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}
<div class="yty_main-box">
    <h2>로그인</h2>
    <form method="POST" action="" id="yty_login-form">
        {% csrf_token %}
        {{ form }}
        <button class="yty_btn">Login</button>
    </form>
    
    <div class="social-login">
        {% if user.is_authenticated %}
            <a href="{% url 'account_logout' %}" class="yty_btn">로그아웃</a>
        {% else %}
            <a href="{% provider_login_url 'google' %}" class="yty_btn">구글 로그인</a>
            <a href="{% url 'game:signup' %}" class="yty_btn">회원가입</a>
        {% endif %}
    </div>
</div>
{% endblock %}