{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <main>
            <h2>회원가입</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">이름:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="pwd">비밀번호:</label>
                    <input type="password" id="pwd" name="pwd" required>
                </div>
                <button type="submit">회원가입</button>
            </form>
        </main>
    </div>
{% endblock content %}





